<div class="container">
   <div class="klax-app-name">
    Klaxon
  </div>
  <h2>Inloggen</h2>

  <p class="klax-lead">Bedankt om Klaxon te gebruiken.</p>

  <p><a class="klax-button" href="<%= @url %>">Dashboard</a></p>

  <p class="klax-fine-print">Je krijgt deze email omdat je wil inloggen in Klaxon.</p>
</div>
