<div class="container">
  <div class="klax-app-name">
    Klaxon
  </div>

  <h2>Welkom!</h2>

  <p class="klax-lead"><b><%= @invited_by&.display_name %></b> heeft je toegevoegd om Klaxon te gebruiken, een applicatie die ervoor zorgt dat je website online kan monitoren voor veranderingen. Klik hieronder om in te loggen.</p>

  <p><a class="klax-button" href="<%= @url %>">Inloggen en beginnen</a></p>

</div>
