<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Nieuwe Slack Integratie</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">Integratie met Slack laat je toe om push notificaties te sturen naar kanalen.</p>
      </div>
      <div class="col-md-6">
        <!-- negative space -->
      </div>
    </div>
  </div><!-- /.container -->
</div>
<%= render 'form' %>