<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Aanpassen</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">Een website volgen, betekent dat Klaxon een versie (snapshot) zal opslaan elke keer de pagina wijzigt.</p>
      </div>
      <div class="col-md-6">
        <!-- negative space -->
      </div>
    </div>
  </div><!-- /.container -->
</div>

<%= render 'form' %>

<div class="klax-section klax-spacer-lg">
  <div class="container">
    <div class="row klax-spacer-md">
      <div class="col-md-12">
        <h4>Activiteiten</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 klax-spacer-md">
        <h2><%= time_ago_in_words @page.updated_at %></h2>
        <p class="lead">since the last change was captured at <%= @page.created_at.strftime("%A, %B %d, %Y at %H:%M") %></p>
      </div>
    </div>
  </div><!-- /.container -->
</div>