<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Nieuwe pagina volgen</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">Een website volgen, betekent dat Klaxon een versie (snapshot) zal opslaan elke keer de pagina wijzigt.</p>
      </div>
      <div class="col-md-6">
        <!-- negative space -->
      </div>
    </div>
  </div><!-- /.container -->
</div>

<%= render 'form' %>